[Unit]
Description=Sound system shutdown
Requires=sound.target
Before=sound.target reboot.target poweroff.target halt.target kexec.target
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=true
TimeoutSec=20
ExecStart=/bin/true
ExecStop=/bin/sound-events -shutdown

[Install]
WantedBy=default.target